body {
    margin: 0;
    font-family: Arial, Verdana;
    background-color: black;
    color:white;
    margin: 20px 20px 0px;
}

h1 {
    text-align: center;
    font-size: 42px; 
    padding: 15px;
    
}

h2 {
    color: #0D0D0D;
    font-size: 30px;
}

p {
    font-size: 24px;
    padding: 10px 0px 0px 10px;
}

img {
    width: 250px;
    margin: 0 auto;
    display: block;
    border: 10px dashed white;
}

div {
    min-height: 200px;
    padding: 20px;
    border: 3px white solid;
}

.introduction {
    border-radius: 15px;
    margin: 15px 0px 0px;
    line-height: 2;
}

.red{
    background-color: red;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid;
    border-left: 5px solid;
}

.blue{
  background-color: blue;
  text-align: left;
  margin-right: 50px;
  border-right: 5px solid;
  border-top: 2px solid;
}

.blue h2{
    color:#C4C4C4;
}
.blue p{
    color:#C4C4C4;
}

.yellow{
  background-color: yellow;
  text-align: right;
  margin-left: 50px;
  border-bottom: 2px solid;
  border-left: 5px solid;
}

.yellow p{
    color:#707070;
}

.green{
  background-color: #00EB00;
  text-align: left;
  margin-right: 50px;
  border-top: 2px solid;
  border-right: 5px solid;
}


footer {
    border: 5px solid white;
}

footer p {
  font-size: 20px;               
  text-align: right;             
  padding: 15px 15px 15px 0;     
}